name: Build and Release

on:
  push:
    tags:
      - 'v*'
  workflow_dispatch:

jobs:
  build:
    runs-on: windows-latest
    
    steps:
    - uses: actions/checkout@v4
    
    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: '7.0.x'
    
    - name: Restore dependencies
      run: dotnet restore
    
    - name: Build
      run: dotnet build --configuration Release --no-restore
    
    - name: Publish
      run: dotnet publish --configuration Release --output ./publish --self-contained false
    
    - name: Copy sqlite3mc DLL
      run: Copy-Item "sqlite3mc_x64.dll" -Destination "./publish/"
    
    - name: Create ZIP
      run: Compress-Archive -Path ./publish/* -DestinationPath ./UmamusumeAssetsExtractor.zip
    
    - name: Upload artifact
      uses: actions/upload-artifact@v4
      with:
        name: UmamusumeAssetsExtractor
        path: ./UmamusumeAssetsExtractor.zip
    
    - name: Create Release
      if: startsWith(github.ref, 'refs/tags/')
      uses: softprops/action-gh-release@v1
      with:
        files: ./UmamusumeAssetsExtractor.zip
        generate_release_notes: true
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
